{% extends 'base.html' %}


{% block content %}
<div class="container">

<h1 class="text-center product-text">Shop</h1>
    <br>
<div class="row p-3">
    {% for product in products %}
    <div class="col-sm">

        <div style="width: 15rem;">
            <img style="max-width:300px max-height:300px" class="p-3 img-fluid" src="{{ product.image_url}}" alt="Card image cap">
            <div class="text-center">
                <h5 class="card-title">{{ product.name }} ${{ product.price }}</h5>
                <br>
                <br>

                <a href="#" style="font-size:20px" class="btn btn-dark">Add to cart</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>

<div style="display: block; margin-top: 60px; margin-left: auto; margin-right: auto;">
    <img width=200px; style="display: block; margin-top: 60px; margin-left: auto; margin-right: auto;" src="https://images.unsplash.com/photo-1615485290382-441e4d049cb5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80">
    <h2 style="text-align:center">We are what we eat</h2>
</div>

{% endblock %}